:root {
    --side-menu-width: 250px;
    --side-menu-left: 0;
    --header-left: 250px;
    --main-margin-left: 250px;
    --header-width: 70px;
  
    --inactive-color: #64748B;
    --secondary-color: #4a75ba;
    --danger-color: #e24c4c;
    --whatsapp-color: #49bf13ee;
  
    --inactive-filter: hue-rotate(145deg) saturate(135%) brightness(44%);
    --color-warning: #F59E0B;
    --hover-background: #e5e7eb;
  }