<div class="flex-container">
  <p-card header="Inicio de sesión">
    <ng-template pTemplate="header">
      <div>
        <!-- <img src="assets/images/elfec-logo.png" alt=""> -->
      </div>
      <div class="title">
        {{ appName }}
      </div>
    </ng-template>
    <div class="p-fluid">
      <form>
        <div class="field">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText id="username" formControlName="username" placeholder="Usuario" />
          </div>
          <!-- <app-err formName="loginForm" [control]="{username: loginForm.get('username')}"></app-err> -->
        </div>
        <div class="field" style="padding-top: 8px;">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
            <span class="p-input-icon-right">
              <i [ngClass]="['button', 'pi', isMaskPassword ? 'pi-eye-slash': 'pi-eye']"
                (click)="isMaskPassword = !isMaskPassword"></i>
              <input pPassword id="password" [type]="isMaskPassword ? 'password': 'text'" formControlName="password"
                 placeholder="Contraseña" />
            </span>
          </div>
          <!-- <app-err formName="loginForm" [control]="{password: loginForm.get('password')}"></app-err> -->
        </div>
        <p-button [label]="isLoading ? 'Iniciando sesión': 'Iniciar sesión'" type="submit" [loading]="isLoading"
          styleClass="mt-3"></p-button>
      </form>
    </div>
  </p-card>
</div>